.comment-info {
  font-size: medium;
  width: 95%;
  padding: 2%;
  border: 1px solid rgba(0, 0, 0, 0.1); /* Adding a softer border */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); 
  border-radius: 5px;
  margin: 1%;
}

.comment-content {
  display: flex;
  justify-content: space-between;
}

.comment-user {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-message {
  padding-left: 2%;
}

.create-comment button {
  background-color: rgba(76, 175, 80, 0.45); /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */
  transition: background-color 0.3s ease; /* Smooth transition */
  margin-top: 10px;
}

.create-comment button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.create-comment input[type="text"] {
  padding: 10px 20px; /* Padding */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */
  transition: box-shadow 0.3s ease; /* Smooth transition */
}

.create-comment input[type="text"]:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase shadow on focus */
}

.delete-comment{
  width: 10px;
  height: 10px;
}