.posts-and-comments{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  width: 95%;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Add shadow */
}

.post-user{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.post-content{
  padding: 2%;
}

.post-user-info {
  display: flex;
}

.delete-button {
  width: 14px;
  height: 14px;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like-button {
  width: 20px;
  height: 20px;
}

.like-button.clicked {
  width: 23px; /* Increase width on click */
  height: 23px; /* Increase height on click */
}

.user-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.comments {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-comment {
  width: 100%;
}

.comments h4 {
  padding-left: 3%;
}

.comments-feed{
  width: 100%;
}